.alert {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0px auto;
  max-width: 500px;
  height: auto;
  z-index: 10000;
  bottom: 7%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 1.25rem;
}

.main_body {
  display: grid;
  grid-template-columns: 280px auto;
}

/* .ico_sidebar_container {
  width: fit-content;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
} */

.ico_sidebar {
  width: 280px;
  height: calc(100vh - 72px);
  position: absolute;
  top: 72px;
  box-shadow: 2px 2px 2px gray;
  z-index: 1;
}

.main_content {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: absolute;
  width: -webkit-fill-available;
  left: 280px;
  top: 72px;
}

@media screen and (max-width: 600px) {
  .alert {
    width: 320px;
  }

  .main_body {
    display: flex;
    flex-direction: column;
  }

  /* .ico_sidebar_container {
    width: 100%;
    z-index: 2;
  } */

  .ico_sidebar {
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    z-index: 1000;
  }

  .main_content {
    width: 100%;
    position: absolute;
    top: 72px;
    left: 0px;
    z-index: inherit;
  }
}

.ico_logo {
  padding: 8px;
  background-color: #0c3c60;
}

.hide {
  display: none;
}
