.bg{
    width: 1100px;
    margin: 35px;
    border-radius: 30px;
}
.head{
    height: 47px;
    margin: 20px;
    margin-top: 30px;
}
.lead{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
}
.img{    
    margin: 20px;
    height: 150px;
}
.col1{
    width: 145px;
    margin-left: 30px;
    border: 1px solid black;
}
.col2{
    width: 400px;
}
.image{
    margin: 3px;
    height: 140px;
}
.info{
    margin: 3px;
    height: 140px;
}
.tablefixhead{
    overflow-y: auto;
    height:275px;
}
.tablefixhead table{
    width: 100%;
    table-layout: fixed; 
    border-spacing: 1px;
}
.tablefixhead table th{
    text-align: left;
    top: 0;
    position: sticky;
    background-color: black;
    color: white !important;
}
.quiz{
    margin: 20px;
    margin-top: 20px;
    text-align: center;
}
.but2{
    background: rgb(0, 123, 255);
    color: white;
    border: none;
    border-radius: .25rem;
    width: 155px;
    height: 45px;
}
