.image {
  margin: 5px;
  height: 60px;
  width: 60px;
}
.info {
  margin: 5px;
}
.tablefixhead {
  overflow-y: auto;
  height: 275px;
}
.tablefixhead table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 1px;
}
.tablefixhead table th {
  text-align: left;
  top: 0;
  position: sticky;
  background-color: black;
  color: white !important;
}
.quiz {
  margin: 20px;
  margin-top: 20px;
  text-align: center;
}
.but2 {
  background: rgb(0, 123, 255);
  color: white;
  border: none;
  border-radius: 0.25rem;
  width: 155px;
  height: 45px;
}
.company_logo {
  justify-content: flex-end;
  height: auto;
}
.company_logo > .ico_logo {
  height: 60px;
}
@media screen and (max-width: 600px) {
  .company_logo {
    display: none;
    height: 40px;
    justify-content: flex-start;
  }
}
