.ico_navbar {
  background-color: #ffc82f;
}

.card > .card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.card > .card-header > .client_logo {
  height: 50px;
}
.card > .card-header > .exam {
  height: 50px;
}

.card > .card-header > .q_no {
  font-size: 28px;
  font-weight: bold;
  background-color: #ffc82f;
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1px solid #f7b603;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card > .card-header > .timer {
  font-weight: bold;
  color: green;
}
.card > .card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card > .card-body > .img > img {
  height: 100%;
}
.card > .card-body > .question {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: black !important;
}
.card > .card-footer {
  background-color: black;
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.card.answer {
  background-color: #00154a;
  cursor: pointer;
}
.card.answer > .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.card.answer > .card-body > input[type="radio"] {
  visibility: hidden;
}
