.ico_navbar {
  background-color: #ffc82f;
}

.card > .card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.card > .card-header > img {
  /* height: 50px; */
  width: 40px;
}

.card > .card-header > .timer {
  font-weight: bold;
  color: green;
}

.card > .card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card > .card-body > .q_no {
  font-size: 22px;
  font-weight: bold;
  color: black;
  height: 50px;
  width: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 10px;
  top: 65px;
  z-index: 1;
}
.card > .card-body > .img {
  height: 250px;
}
.card > .card-body > .img > img {
  height: 100%;
}
.card > .card-body > .question {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: black !important;
}
.card > .card-footer {
  background-color: black;
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.card.answer {
  background-color: #00154a;
  cursor: pointer;
}
.card.answer > .card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
  font-weight: bold;
  font-size: 22px;
}

.card.answer > .card-body > input[type="radio"] {
  visibility: hidden;
}
