{% extends 'adminpanel.html' %} {% load static %} {% block body %}
<div class="container mb-3">
  <div class="col">
    <div class="row mx-4 mt-4">
      <h2>Admin Profile</h2>
      <hr />
    </div>
    <div class="row">
      <form method="POST" action="/accounts/update_details/">
        {% csrf_token %}
        <div class="form-row mx-4">
          <div class="col-md-5 mb-3">
            <label for="validation01">First name</label>
            <input
              type="text"
              class="form-control"
              id="validation01"
              placeholder="First name"
              name="first_name"
              value="{{ user.first_name }}"
              disabled
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="col-md-5 mb-3">
            <label for="validation02">Last name</label>
            <input
              type="text"
              class="form-control"
              id="validation02"
              placeholder="Last name"
              disabled
              value="{{ user.last_name }}"
              name="last_name"
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
        </div>
        <div class="form-row mx-4">
          <div class="col-md-5 mb-3">
            <label for="validationPhone">Phone Number</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend3"
                  >+91</span
                >
              </div>
              <input
                type="number"
                class="form-control"
                id="validationPhone"
                placeholder="Phone Number"
                name="phone_no"
                value="{{ user.phone_no }}"
                aria-describedby="inputGroupPrepend3"
                disabled
                required
              />
              <div class="valid-feedback">Looks good!.</div>
              <div class="invalid-feedback">
                Please enter Valid Phone Number.
              </div>
            </div>
          </div>
          <div class="col-md-5 mb-3">
            <label for="validationPhone">Email Address</label>
            <div class="input-group">
              <input
                type="email"
                class="form-control is-valid"
                id="validationEmail"
                value="{{ user.email }}"
                placeholder="Email Address"
                name="email"
                disabled
                required
              />
              <div class="valid-feedback">
                Looks good!.You cannot update this.
              </div>
            </div>
          </div>
          <div class="col-md-5 mb-3">
            <label for="validationAge">Age</label>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                id="validationAge"
                placeholder="Age"
                name="age"
                value="{{ user.age }}"
                aria-describedby="inputGroupAppend"
                min="1"
                disabled
                required
              />
              <div class="input-group-append">
                <span class="input-group-text" id="inputGroupAppend">
                  years</span
                >
              </div>
              <div class="valid-feedback">Looks good!.</div>
              <div class="invalid-feedback">
                Please enter Valid Phone Number.
              </div>
            </div>
          </div>
          <div class="col-md-5 mb-3">
            <label for="validationGender">Gender</label>
            <select class="custom-select" disabled>
              <option selected>Select Your Gender</option>
              <option value="1">Male</option>
              <option value="2">Female</option>
              <option value="3">Others</option>
            </select>
          </div>
        </div>
        <div class="form-row mx-4">
          <div class="d-flex flex-row">
            <button type="button" class="btn btn-outline-warning mx-1 editBtn">
              Edit Details
            </button>

            <button
              type="submit"
              class="btn btn-outline-success mx-1 saveBtn"
              disabled
            >
              Save Details
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="row mx-4 my-3">
      <hr />
      <div class="form-row">
        <h2>Reset Password</h2>
      </div>
      <form method="POST" action="/accounts/reset_password/">
        {% csrf_token %}
        <input type="hidden" name="phone_no" value="{{ user.phone_no }}" />
        <div class="form-row my-2">
          <div class="col-md-4 mb-3">
            <label for="validationPassword">Current Password</label>
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                id="validationPassword"
                placeholder="Password"
                name="password"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Minimum 4 characters.</div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationPassword1">New Password</label>
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                id="validationPassword1"
                placeholder="Password"
                name="password1"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Minimum 4 characters.</div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationComfirm">Confirm New Password</label>
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                id="validationConfirm"
                placeholder="Password"
                name="password2"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Passwords don't match.</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <button class="btn btn-primary" type="submit">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  edit = document.getElementsByClassName("editBtn");

  Array.from(edit).forEach((e) => {
    e.addEventListener("click", () => {
      // get card root
      row = e.parentElement.parentElement.parentElement;

      inp = row.getElementsByTagName("input");
      // remove disabled attribute from each inp tag of this card
      Array.from(inp).forEach((el, index) => {
        if (index != 4) el.removeAttribute("disabled");
      });

      sel.getElementsByTagName("select");

      Array.from(sel).forEach((sel) => {
        sel.removeAttribute("disabled");
      });

      save = row.getElementsByClassName("saveBtn")[0];
      save.removeAttribute("disabled");
    });
  });
</script>
{% endblock %}
