{% extends 'base.html' %} {% load static %}{% block head %}
<title>Profile | ICO Quiz Time</title>
{% endblock head %} {% block body %}
<div class="container mb-3">
  <div class="col">
    <div class="row mx-4 my-3">
      <div class="form-row">
        <h2>Update Password</h2>
        <hr />
      </div>
      <form method="POST" action="/bajajauto/accounts/change_password/">
        {% csrf_token %}
        <input type="hidden" name="email" value="{{ user.email }}" />
        <div class="form-row my-2">
          <div class="col-md-4 mb-3">
            <label for="validationPassword">Current Password</label>
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                id="validationPassword"
                placeholder="Password"
                name="password"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Minimum 4 characters.</div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationPassword1">New Password</label>
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                id="validationPassword1"
                placeholder="Password"
                name="password1"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Minimum 4 characters.</div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <label for="validationComfirm">Confirm New Password</label>
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                id="validationConfirm"
                placeholder="Password"
                name="password2"
                required
              />
              <div class="valid-feedback">Looks good!</div>
              <div class="invalid-feedback">Passwords don't match.</div>
            </div>
          </div>
        </div>
        <div class="form-row">
          <button class="btn btn-primary" type="submit">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock body %}
