{% extends 'adminpanel.html' %} {% load static %} {% block body %}
<div class="container-fluid">
  <div class="row mx-4 mt-4">
    <h2>Quiz</h2>
    <hr />
  </div>
  <div class="col mx-2">
    <div class="row p-4">
      <form
        method="POST"
        action="/bajajauto/adminpanel/create_quiz/"
        id="quizForm"
      >
        {% csrf_token %}
        <div class="">
          <div class="form-group">
            <label for="quizName">Quiz Name</label>
            <input
              type="text"
              class="form-control"
              id="quizName"
              name="quizName"
              aria-describedby="nameHelp"
              placeholder="eg. September Quiz"
              required
            />
            <small id="nameHelp" class="form-text text-muted"
              >Quiz Name must be correct and self-descriptive.</small
            >
          </div>
          <div class="form-group">
            <label for="quizTime">Quiz Start Time</label>
            <input
              type="datetime-local"
              class="form-control"
              id="quizTime"
              name="start_time"
              required
            />
          </div>
          <div class="form-group">
            <label for="quizTime">Quiz End Time</label>
            <input
              type="datetime-local"
              class="form-control"
              id="quizTime"
              name="end_time"
              required
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Save Quiz</button>
      </form>
    </div>
  </div>
</div>
<script>
  edit = document.getElementsByClassName("editBtn");

  Array.from(edit).forEach((e) => {
    e.addQuizListener("click", () => {
      // get card root
      row = e.parentElement.parentElement.parentElement;

      inp = row.getElementsByTagName("input");
      // remove disabled attribute from each inp tag of this card
      Array.from(inp).forEach((el) => {
        el.removeAttribute("disabled");
      });

      save = row.getElementsByClassName("saveBtn")[0];
      save.removeAttribute("disabled");
    });
  });
</script>
{% endblock %}
