{% extends 'adminpanel.html' %} {% load static %} {% block content %}
<div class="container-fluid">
  <div class="row mx-4 mt-4">
    <h2>Quiz</h2>
    <hr />
  </div>
  <div
    class="modal fade"
    id="addQuizModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addQuizModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add New Quiz</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="/admin_panel/create_quiz/">
          {% csrf_token %}
          <div class="modal-body m-2">
            <div class="form-group">
              <label for="quizName">Quiz Name</label>
              <input
                type="text"
                class="form-control"
                id="quizName"
                name="quizName"
                aria-describedby="nameHelp"
                placeholder="eg. September Quiz"
                required
              />
              <small id="nameHelp" class="form-text text-muted"
                >Quiz Name must be correct and self-descriptive.</small
              >
            </div>
            <div class="form-group">
              <label for="quizDate">Quiz Start Time</label>
              <input
                type="datetime"
                class="form-control"
                id="quizDate"
                name="start_time"
                required
              />
            </div>
            <div class="form-group">
              <label for="quizDate">Quiz End Time</label>
              <input
                type="datetime"
                class="form-control"
                id="quizDate"
                name="end_time"
                required
              />
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Save Quiz</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col mx-2">
    <div class="row my-2">
      <div class="d-flex flex-row-reverse">
        <button
          type="button"
          class="btn btn-primary mx-2"
          data-toggle="modal"
          data-target="#addQuizModal"
        >
          Add New Quiz
        </button>
      </div>
    </div>
    <!-- <div class="row mx-1">
      <form class="form-inline d-flex flex-row">
        <input
          class="form-control mr-sm-2"
          type="date"
          id="searchDate"
          placeholder="Search Quiz by Date"
          aria-label="Search"
        />
        <button class="btn btn-outline-success m-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div> -->
    <div class="row p-4">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Quiz Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Add Questions</th>
            <th scope="col">Edit Quiz Details</th>
          </tr>
        </thead>
        <tbody>
          {% for Quiz in Quizs %}
          <tr id="{{quiz.id}}">
            <th scope="row">{{quiz.srno}}</th>
            <form method="POST" action="/admin_panel/edit_quiz/">
              {% csrf_token %}
              <input type="hidden" name="quiz_id" value="{{quiz.id}}" />
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="quizName"
                  value="{{quiz.name}}"
                  disabled
                />
              </td>
              <td>
                <input
                  type="date"
                  class="form-control"
                  name="start_time"
                  value="{{quiz.start_time|date:'Y-m-d hh:mm'}}"
                  disabled
                />
              </td>
              <td>
                <input
                  type="date"
                  class="form-control"
                  name="end_time"
                  value="{{quiz.date|date:'Y-m-d hh:mm'}}"
                  disabled
                />
              </td>
              <td>
                <a href="/quiz/add_question/{{quiz.id}}">
                  <button type="button" class="btn btn-outline-primary mx-1">
                    Add Questions
                  </button>
                </a>
              </td>
              <td>
                <div class="d-flex flex-row">
                  <button
                    type="button"
                    class="btn btn-outline-warning mx-1 editBtn"
                  >
                    Edit
                  </button>

                  <button
                    type="submit"
                    class="btn btn-outline-success mx-1 saveBtn"
                    disabled
                  >
                    Save
                  </button>
                </div>
              </td>
            </form>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  edit = document.getElementsByClassName("editBtn");

  Array.from(edit).forEach((e) => {
    e.addQuizListener("click", () => {
      // get card root
      row = e.parentElement.parentElement.parentElement;

      inp = row.getElementsByTagName("input");
      // remove disabled attribute from each inp tag of this card
      Array.from(inp).forEach((el) => {
        el.removeAttribute("disabled");
      });

      save = row.getElementsByClassName("saveBtn")[0];
      save.removeAttribute("disabled");
    });
  });
</script>
{% endblock %}
