{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/dashboard.css' %}"
/>
<script src="{% static 'js/main.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<title>Dashboard | ICO Quiz Time</title>
{% endblock head %} {% block body %}
<div class="container">
  <div class="col">
    <div class="row mx-4 mt-4">
      <h2>Dashboard</h2>
      <hr />
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-xl-8">
        <script>
          var xValues = [];
          var yValues = [];
        </script>
        {% for x in xValues %}
        <script>
          xValues.push("{{x}}");
        </script>
        {% endfor %} {% for y in yValues %}
        <script>
          yValues.push("{{y}}");
        </script>
        {% endfor %}
        <canvas id="barChart" style="width: 100%; max-width: 700px"></canvas>
        <script>
          new Chart("barChart", {
            type: "bar",
            data: {
              labels: xValues,
              datasets: [
                {
                  backgroundColor: "#ffc82f",
                  data: yValues,
                },
              ],
            },
            options: {
              legend: { display: false },
              title: {
                display: true,
                text: "Your Scores across Quizes",
              },
            },
          });
        </script>
      </div>
      <div class="col-lg-4">
        <div class="list_counter_wrapper white_box mb_30 p-0 card_height_100">
          <div class="single_list_counter">
            <p>Total Quiz Participated</p>
            <h3 class="deep_blue_2">
              <span class="counter deep_blue_2">{{quizes}}</span>
            </h3>
          </div>
          <div class="single_list_counter">
            <p>Your Quiz Total Score</p>
            <h3 class="deep_blue_2">
              <span class="counter deep_blue_2">{{total_score}}</span>
            </h3>
          </div>
          <div class="single_list_counter">
            <h3 class="deep_blue_2">
              <span class="counter deep_blue_2">Accuracy</span>
            </h3>
            <input type="hidden" id="correct" value="{{correct}}" />
            <input type="hidden" id="incorrect" value="{{incorrect}}" />
            <canvas id="pieChart" style="width: 100%"></canvas>
            <script>
              var correct = $("#correct").val();
              var incorrect = $("#incorrect").val();
              new Chart("pieChart", {
                type: "pie",
                data: {
                  labels: ["Correct", "Incorrect"],
                  datasets: [
                    {
                      backgroundColor: ["green", "red"],
                      data: [correct, incorrect],
                    },
                  ],
                },
                options: {
                  title: {
                    display: true,
                    text: "Accuracy Ratio",
                  },
                },
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
