{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/leaderboard.css' %}"
/>
<title>Leaderboard | ICO Quiz Time</title>
{% endblock head %} {% block body %}
<div class="container mb-3">
  <div class="row">
    <div class="col">
      <div class="row mx-4 mt-4">
        <h2>Leaderboard</h2>
        <hr />
      </div>
      <div class="row">
        <div class="col">
          <div class="row justify-content-center">
            <div class="col-md-5">
              <div class="row px-2">
                <div class="col-3">
                  <img
                    src="/static/images/avatar.png"
                    class="img-circle"
                    width="80"
                    alt="User Photo"
                  />
                </div>
                <div class="col-9">
                  <div class="info">
                    <h6 style="text-align: left">
                      Name: {{user.first_name}} {{user.last_name}}
                    </h6>
                    <h6 style="text-align: left">
                      Total Score: {{user.total_score}}
                    </h6>
                    {% if not all_p %}
                    <h6>Score in Quiz#{{quiz_id}}: {{score}}</h6>
                    <h6>Rank in Quiz#{{quiz_id}}: {{rank}}</h6>
                    {% else %}
                    <h6 style="text-align: left">Overall Rank:{{rank}}</h6>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 company_logo">
              <img
                src="/static/images/lets_quiz.jpeg"
                class="ico_logo"
                alt="logo"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-3">
          <label for="validationGender">For Quiz:</label>
          <form method="POST" id="quiz_select_form">
            {% csrf_token %}
            <select
              class="custom-select"
              id="quiz_select"
              name="quiz_id_select"
            >
              <option>-----Select Quiz-----</option>
              <option value="0" {% if all_p %}selected="selected" {% endif %}>
                All Quizes
              </option>
              {% for quiz in quizes %}
              <option
                value="{{quiz.id}}"
                {%
                ifequal
                quiz.id
                quiz_id
                %}selected="selected"
                {%
                endifequal
                %}
              >
                {{quiz.id}}-{{quiz.name}}
              </option>
              {% endfor %}
            </select>
          </form>
          <script>
            $("#quiz_select").change(() => {
              $("#quiz_select_form")
                .attr(
                  "action",
                  "/bajajauto/user/leaderboard/" +
                    $("select[name='quiz_id_select']").val() +
                    "/"
                )
                .submit();
            });
          </script>
        </div>
      </div>
      <div class="tablefixhead">
        <table class="table table-striped">
          <tr>
            <th id="rank" class="col-4">Rank</th>
            <th id="name" class="col-9">Name</th>
            <th id="score" class="col-4">Score</th>
          </tr>
          {% for user in leaderboard %}
          <tr>
            <td>{{user.rank}}</td>
            {% if all_p %}
            <td>{{user.username}}</td>
            {% else %}
            <td>{{user.user}}</td>
            {% endif %}
            <td>{{user.score}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="row">
        <div class="col">
          <div class="quiz">
            <a href="/bajajauto/user/take_quiz/">
              <button class="but2" type="button">Take More Quizes!</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
