{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
<title>Login | ICO Quiz Time</title>
{% endblock head %} {% block body %}
<div class="login-section">
  <img src="{% static 'images/its-quiz-time.jpg' %}" style="width: 100%; height: auto" />
  <div class="login-box">
    <img src="{% static 'images/avatar.png' %}" class="avatar" />
    <h1>Login Here</h1>
    <form method="POST">
      {% csrf_token %}
      <p>Email Id</p>
      <input type="text" name="email" placeholder="Enter Email" />
      <p>Password</p>
      <input type="password" name="password" placeholder="Enter Password" />
      <input type="submit" name="submit" value="Login" />
      <a href="/accounts/forgot-password/">Forgot Password ?</a>
    </form>
  </div>
</div>
{% endblock body %}
