{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/leaderboard.css' %}"
/>
<title>Personal Scores| ICO Quiz Time</title>
{% endblock head %} {% block body %}
<div class="container mb-3">
  <div class="row">
    <div class="col">
      <div class="row mx-4 mt-4">
        <h2>Your Quiz Scores</h2>
        <hr />
      </div>
      <div class="row">
        <div class="col">
          <div class="row justify-content-center">
            <div class="col-md-5">
              <div class="row px-2">
                <div class="col-3">
                  <img
                    src="/static/images/avatar.png"
                    class="img-circle"
                    width="80"
                    alt="User Photo"
                  />
                </div>
                <div class="col-9">
                  <div class="info">
                    <h6 style="text-align: left">
                      Name: {{user.first_name}} {{user.last_name}}
                    </h6>
                    <h6 style="text-align: left">
                      Total Score: {{user.total_score}}
                    </h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5 company_logo">
              <img
                src="/static/images/lets_quiz.jpeg"
                class="ico_logo"
                alt="logo"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="tablefixhead mt-3">
        <table class="table table-striped">
          <tr>
            <th id="rank" class="col-4">Sr.No.</th>
            <th id="name" class="col-9">Quiz Name</th>
            <th id="score" class="col-4">Rank</th>
            <th id="score" class="col-4">Score</th>
          </tr>

          {% for quiz in quizboard %}
          <tr>
            <td>{{quiz.srno}}</td>
            <td>{{quiz.quiz}}</td>
            <td>{{quiz.rank}}</td>
            <td>{{quiz.score}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
      <div class="row">
        <div class="col">
          <div class="quiz">
            <a href="/bajajauto/user/take_quiz/">
              <button class="but2" type="button" onclick="alert('Lets Go')">
                Take More Quizes!
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
