{% extends 'base.html' %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/take_quiz.css' %}"
/>
<title>Quiz | ICO Quiz Time</title>
{% endblock head %} {% block body %}
<div class="conatainer mb-3">
  <div class="col">
    <div class="row mx-4 my-2">
      <h1 style="width: 100%">Take The Quiz</h1>
      <hr />
    </div>
    <div class="row">
      <h2>Quiz</h2>
      <div class="container">
        
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Quiz Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Quiz Status</th>
          </tr>
        </thead>
        <tbody>
          {% for quiz in quizes %}
          <tr id="{{quiz.id}}">
            <th scope="row">{{quiz.srno}}</th>
            <form method="POST" action="/adminpanel/edit_quiz/">
              {% csrf_token %}
              <input type="hidden" name="quiz_id" value="{{quiz.id}}" />
              <td>{{quiz.name}}
              </td>
              <td>{{quiz.start_time|date:'Y-m-d'}}T{{quiz.end_time|time:'H:i:s'}}
              </td>
              <td>
                  {{quiz.end_time|date:'Y-m-d'}}T{{quiz.end_time|time:'H:i:s'}}
              </td>
              <td>
                <a href="/quiz/rules/{{quiz.id}}">
                  <button type="button" class="btn btn-outline-success mx-1">
                    Start Quiz
                  </button>
                </a>
              </td>
            </form>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock body %}
